<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
            <div class="card card-body">
                <h4 class="card-title">
                    Profile Detail</h4>
                <hr>
                <div class="card-text">
                    <div *ngFor="let user of _usersArray">
                        <div *ngIf="user.email == email">
                            <h5 class="black-text">{{user.name}}</h5>
                            <div class="row">
                                <i class="fa fa-map-pin prefix black-text col-2"></i>
                                <div class="col-10"> {{user.address.street }} {{user.address.suite }}
                                </div>
                            </div>
                            <div class="row">
                                <span class="col-2"></span>
                                <div class="col-10"> {{user.address.city}} {{user.address.zipcode}}</div>
                            </div>

                            <div class="row">
                                <i class="fa fa-phone prefix black-text col-2"></i>
                                <div class="col-10"> {{user.phone}}</div>
                            </div>
                            <div class="row">
                                <i class="fa fa-envelope prefix black-text col-2"></i>
                                <div class="col-10">
                                    <a href="mailto:{{email}}" target="_top">{{email}}</a>
                                </div>
                            </div>
                            <button class="btn btn-sm btn-block btn-outline-default waves-effect" routerLink="/" routerLinkActive="active" mdbRippleRadius>Change email</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
            <div *ngFor="let post of _postsArray">
                <div class="card card-body">
                    <h4 class="card-title">{{post.title}}</h4>
                    <p class="card-text">{{post.id}}{{post.body}}</p>
                    <div class="card-footer">
                        <div *ngFor="let comment of _commentsArray">
                            <div *ngIf="comment.postId == post.id">
                                <hr>
                                <span> {{comment.postId}}  {{comment.body}}</span>
                                <span> ― {{comment.name}}
                                    <a href="mailto:{{comment.email}}" target="_top"> {{comment.email}}</a>
                                  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>