<div class="container-fluid">
    <div class="row">
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
            <h2 class="text-center">Welcome to Dunder-Mifflin</h2>
            <p class="text-center">Welcome to the dunder-mifflin internal network.</p>
            <p class="text-center">Please enter a username to view your posts and comments.</p>
            <form>
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="defaultForm-email" class="form-control" mdbActive>
                    <label for="defaultForm-email">Your email</label>
                </div>
                <div class="text-center">
                    <button class="btn btn-default waves-light" mdbRippleRadius>Login</button>
                </div>
            </form>
        </div>
        <div class="col-xs-0 col-sm-1 col-md-2 col-lg-3"></div>
    </div>
</div>